.Rproj.user
.Rhistory
.RData

/.DS_Store
/Intro to PSA with R.Rproj
/IntroPSAwithR.zip
/Slides/Slides.aux
/Slides/Slides.log
/Slides/Slides.nav
/Slides/Slides.out
/Slides/Slides.snm
/Slides/Slides.tex
/Slides/Slides.toc
/Slides/Slides.vrb